<h1>Employee Details</h1>
<div class="p-2">
    <a routerLink="" class="btn btn-primary">Back to Home</a>
</div>
<div class="card p-3">
    <form>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Name:</label>
            <input name="name" id="name" placeholder="Name" [(ngModel)]="employee.name" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Email:</label>
            <input name="email" id="email" placeholder="Email" [(ngModel)]="employee.email" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Department:</label>
            <input name="department" id="department" placeholder="Department" [(ngModel)]="employee.department" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Phone:</label>
            <input name="phone" id="phone" type="number" [(ngModel)]="employee.phone" />
        </div>
        <div class="form-group">
            <div *ngIf="!isUpdate; then add else update"></div>
            <ng-template #add>
                <button type="submit" class="btn btn-success" (click)="saveEmployee()">Add</button>
            </ng-template>
            <ng-template #update>
                <button type="submit" class="btn btn-success" (click)="updateEmployeeById()">Update</button>
            </ng-template>
        </div>
    </form>
</div>