<div class="container">
    <div class="card p-2">
        <h4 class="text-center alert alert-secondary" role="alert">Student Marks</h4>
        <br>
        <div class="card-body offset-4">
            <strong>English:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><div class="offset-2 badge badge-secondary">{{marks.english}}</div>
            <br>
            <strong>Chemistry:</strong><div class="offset-2 badge badge-secondary">{{marks.chemistry}}</div>
            <br>
            <strong>Physics:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><div class="offset-2 badge badge-secondary">{{marks.physics}}</div>
            <br>
            <strong>Maths:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><div class="offset-2 badge badge-secondary">{{marks.maths}}</div>
            <br>
            <strong>Elective:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><div class="offset-2 badge badge-secondary">{{marks.elective}}</div>
        </div>
    </div>
</div>
